@import "tailwindcss";
:root{
  --background: #0f172a; /* slate-900 */
  --foreground: #e2e8f0; /* slate-300 */
  --primary: #3b82f6; /* blue-500 */
  --primary-hover: #2563eb; /* blue-600 */
  --secondary: #1e40af; /* blue-800 */
  --secondary-hover: #1e3a8a; /* blue-900 */
  --accent: #38bdf8; /* sky-400 */
  --accent-hover: #0ea5e9; /* sky-500 */
  --border: #1e293b; /* slate-800 */
  --card-bg: #1e293b; /* slate-800 */
  --card-text: #f1f5f9; /* slate-100 */
  --active-link: #525252; /* slate-500 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: inline;
  border-right: 1px solid var(--foreground);
  padding: 0 1rem 0 1rem;
}

.nav-link:last-child {
  border-right: none;
}

.nav-link a {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 5px;
}

.nav-link a.active {
  background-color: var(--active-link);
}

@media print{
  body{
    color: black;
    background-color: white;
  }
}

@page {
  margin: 0.5in;
}
